<mat-card style="height: 80vh; margin: 0%;">
  <mat-card-header style="float: right;">
    <button mat-icon-button (click)="CloseDialog()">
      <mat-icon>close</mat-icon>
    </button>

  </mat-card-header>
  <mat-card-title>
    Optag ny video
  </mat-card-title>

<!--
  <video autoplay controls #videoElement></video>
  <video controls id="videoShow"></video> -->
  <video style="max-height: 35vh;" playsinline [mediaStream]="{video: true, audio: true}" (videoRecorded)="onVideo($event)"></video>
  <ng-container *ngIf="videoSrc">
    <video style="max-height: 35vh;" [src]="videoSrc"></video>
  </ng-container>


    <mat-card-footer>
      <button id="btnStart" mat-raised-button (click)="mediaStream.play()">Start video</button>
      <button id="btnStop" mat-raised-button (click)="mediaStream.stop()">Stop video</button>
      <button mat-raised-button (click)="mediaStream.recordStart()">Optag</button>
      <button mat-raised-button (click)="mediaStream.recordStop()">Stop optag</button>
      <button id="btnClear" mat-raised-button (click)="clearRecording()">Clear</button>
      <button id="btnDownload" mat-raised-button >Download</button>
    </mat-card-footer>
</mat-card>

